<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">DrunkerLand</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Conditions</a>
      </li>
    </ul>
    <form class="form-inline input-group my-2 my-lg-0">
      <!--<button class=" dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
      <select class="btn btn-outline-secondary" name="valid">
        <optgroup label="Option" value="">
          <option value="Name">Name</option>
          <option value="Vintage">Vintage</option>
          <option value="Color">Color</option>
          <option value="Region">Region</option>
          <option value="Appellation">Appellation</option>
          <option value="Country">Country</option>
        </optgroup>
      </select>
      <input class="form-control mr-sm-2" type="search" placeholder="Quick search here" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="list-inline my-4" id="log-access">
      <a class="btn list-inline-item" id="sign_in" href="/sign_in">Login / Sign up</a>
    </div>
  </div>
</nav>

<script>
  $('.dropdown-toggle').dropdown();
</script>
