<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">DrunkerLand</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Conditions</a>
      </li>
    </ul>
    <div class="form-inline input-group my-2 my-lg-0" >
      <select [(ngModel)]="key" name="state">
        <option value="" disabled>Option</option>
        <option *ngFor="let condition of conditions">
          {{condition.name}}
        </option>
      </select>
      <input class="form-control mr-sm-2" [(ngModel)]="value" placeholder="Quick search here">
      <button class="input-group-append btn btn-outline-success my-2 my-sm-0" (click)="search(key, value)" type="submit">
        Search
      </button>
    </div>
    <div class="list-inline my-4" id="log-access">
      <a class="btn list-inline-item" id="sign_in" href="/sign_in">Login / Sign up</a>
    </div>
  </div>
</nav>

